__pycache__/
.cache/
.coverage
*.egg-info/
dist/
build/
.pytest_cache/
edftpy.egg-info
examples/debug
edftpy/version.py
doc/build/
.ipynb_checkpoints/
bak/
.buildconfig
doc/source/tutorials/config.rst
.eggs
